@import url('./auth/login.css');
@import url('./auth/register.css');

:root{
  --tablet-width: 1000px;
  --border-color: white;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* ------- class ----------*/
.btn-submit{
  background-color: #cecece;
  color: black;
  border: none;
}

.btn-submit:hover{
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
